@model RazorPages.Controllers.MoviesIndexData

@{
    ViewData["Title"] = "Movies";
}

@if (User.Identity.IsAuthenticated && User.IsInRole("User"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<form asp-action="Index">
    <p>
        <input type="text" id="search" name="search" value="@(Model.Search)"/>
        <input type="submit" value="Find" class="btn btn-outline-dark"/>
        <a asp-route-page="1" asp-route-search="" class="btn btn-outline-dark">
            Reset
        </a>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Average Vote
            </th>
            <th>
                Votes Number
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Movies) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VoteAverage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VoteCount)
            </td>
            <td>
                @if (User.Identity.IsAuthenticated)
                {
                        if (User.IsInRole("User"))
                        {
                         <a asp-action="Edit" asp-route-id="@item.Id">Edit</a><text> </text>
                    }
                        if (User.IsInRole("User"))
                        {
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a><text> </text>
                    }
                        if (User.IsInRole("User"))
                        {
                         <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                }
            </td>
        </tr>
}
    </tbody>
</table>

@if (Model.CurrentPage > 1)
{
    <a asp-action="Index" asp-route-page="@(Model.CurrentPage - 1)" asp-route-search="@(Model.Search)" class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Back
    </a>
}
@if (Model.TotalMoviesNumber > Model.CurrentPage * Model.PageSize)
{
    <a asp-action="Index" asp-route-page="@(Model.CurrentPage + 1)" asp-route-search="@(Model.Search)" class="btn btn-outline-dark">
        Next
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}
